<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= Sinatra.options.name %><%= " - #{@post.title}" unless @post.nil? %><%= " - #{@page.title}" unless @page.nil? %><%= " - #{Sinatra.options.title}" if @post.nil? && @page.nil? %></title>
    <meta name="generator" content="bliki on ruby" />
    <link rel="stylesheet" href="/base.css" type="text/css" media="screen" title="base" charset="utf-8">
    <link rel="stylesheet" href="/css/sunburst.css" type="text/css" media="screen" title="base" charset="utf-8">
    <link rel="alternate" type="application/rss+xml" title="<%= Sinatra.options.name %> Atom Feed" href="<%= Sinatra.options.base_url %>/feed/" />
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/interface.js"></script>
		<script type="text/javascript" src="/js/autogrow.js"></script>		
  </head>
  <body>

    <div id="header">
      <div id="branding">
        <img id="logo" src="/img/logo.png" alt="<%= Sinatra.options.name %>" />
        <h1 id="title"><%= link_to Sinatra.options.name, "/" %></h1>
        <div id="subtitle"><%= Sinatra.options.title %></div>
      </div>
    </div>
    
    <div id="menu">
      <ul>
        <li><%= link_to 'Blog', '/' %></li>                
        <li><%= link_to 'Wiki', '/wiki' %></li>
        <li><%= link_to 'About', '/about' %></li>
      </ul>
    </div>
    
    <div id="container">
      <div id="content">
        <%= yield %>
      </div>
    </div>

    <div id="footer"><%= link_to Sinatra.options.author_name, "mailto:me@home.net" %> is powered by <%= link_to "bliki", "http://github.com/bomberstudios/bliki" %></div>
    <%= reinvigorate unless development? %>

  </body>
</html>

