<div class="page">
  <h2 class="title"><%= @page.title %></h2>
  <small>posted on <%= @page.date %>, filed under <%= tag_list @page.tags, '', '' %></small>
  <div class="body">
    <%= @page.content %>
  </div>
  <%= disqus if Sinatra.options.use_comments %>
</div>

<div><%= @page.attachments.size %> Attachments</div>
<ul>
<% for attachment in @page.attachments %>
    <li><%= link_to attachment.name, attachment.link %></li>
<% end %>
</ul>

<div class="buttons">
  <%= link_to 'Edit', "/pages/#{@page.id}/edit", :accesskey => 'e' %>
  <form action="<%= "/pages/#{@page.id}" %>" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete" accesskey="d" onclick="return confirm('Are you sure?');" />
  </form>
</div>

