<div class="<%= @post.class.to_s.downcase %>">
  <h2 class="title"><%= @post.title %></h2>
  <small>posted on <%= @post.date %>, filed under <%= tag_list @post.tags, '', '' %></small>
  <div class="body">
    <%= @post.content %>
  </div>
  <%= disqus if Sinatra.options.use_comments %>
</div>

<div><%= @post.attachments.size %> Attachments</div>
<ul>
<% for attachment in @post.attachments %>
    <li><%= link_to attachment.name, attachment.link %></li>
<% end %>
</ul>

<div class="buttons">
  <div class="admin"><a href="<%= @post.edit_link %>" accesskey="e">edit</a></div>
  <div class="admin"><a href="/new" accesskey="n">new</a></div>
</div>

