<ul>
  <li><%= link_to 'News',   '/',       :active_class => 'active', :title => 'Latest news, changes and updates' %></li>
  <li><%= link_to 'Pages',  '/pages',  :active_class => 'active', :title => 'Index of all pages' %></li>
  <li><%= link_to 'Tags',   '/tags',   :active_class => 'active', :title => 'Index of the used tags' %></li>
  <li><%= link_to 'Search', '/search', :active_class => 'active', :title => 'Search the pages' %></li>  
  <li><%= link_to 'About',  '/about',  :active_class => 'active', :title => 'About this bliki' %></li>
</ul>

