<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= @app.title %> &mdash; <%= (@page.nil? || @page.title.nil?) ? @app.subtitle : @page.title %></title>
    <meta name="generator" content="bliki on ruby" />
    <link rel="stylesheet" href="/base.css" type="text/css" media="screen" title="base" charset="utf-8" />
    <link rel="stylesheet" href="/css/sunburst.css" type="text/css" media="screen" title="base" charset="utf-8" />
    <link rel="alternate" type="application/rss+xml" title="<%= @app.title %> Atom Feed" href="<%= Sinatra.options.base_url %>/feed/" />
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/interface.js"></script>
		<script type="text/javascript" src="/js/autogrow.js"></script>
		<%= disqus_head %>
  </head>
  <body>

    <div id="header">
      <div id="branding">
        <img id="logo" src="/img/logo.png" alt="<%= @app.title %>" />
        <h1 id="title"><%= link_to @app.title, "/" %></h1>
        <div id="subtitle"><%= @app.subtitle %></div>
      </div>
    </div>
    
    <div id="menu">
      <%= render :erb, :"_menu", :layout => false %>
    </div>
    
    <div id="container">
      <div id="content">
        <%= yield %>
      </div>
    </div>

    <div id="footer"><%= link_to Sinatra.options.author_name, "mailto:me@home.net" %> is powered by <%= link_to "bliki", "http://github.com/bomberstudios/bliki" %></div>
    <%= reinvigorate unless development? %>

    <%= disqus_scripts %>
  </body>
</html>

