<div class="page">
<% @pages.each do |page| %>
  <div class="<%= page.class.to_s.downcase %>">
    <h2 class="title"><%= link_to page.title, page.link %></h2>
    <small>paged on <%= page.date %>, filed under <%= tag_links_for_page page %></small>
    <div class="body">
    <%= page.content %>
    </div>
    <%= "<p><a href='#{page.link}#disqus_thread'>View Comments</a></p>" if Sinatra.options.use_comments %>
  </div>
<% end %>
</div>

<% if !@archives.nil? %>
<div class="page">
  <h2>archives...</h2>
  <% @archives.each do |page| %>
  <h3><%= link_to page.title, page.link %> (<%= page.date %>)</h3>
  <% end %>
</div>
<% end %>

<div class="buttons">
  <%= link_to 'New', url_for_pages_new, :accesskey => 'n' %>
</div>

