<% @pages.each do |page| %>
  <div class="page">
    <h2 class="title"><%= link_to page.title, url_for_pages_show(page) %></h2>
    <small>updated <%= relatize_date_element page.updated_at %>&nbsp;<%= tag_links_for_page page %></small>  
    <div class="body">
      <%= body = page.body || ""; body.length < 100 ? body : body[0..100]+"..." %>
    </div>
    <%= disqus_link page, 'View Comments' %>
  </div>
<% end %>

<% if !@archives.nil? %>
<div class="page">
  <h2>archives...</h2>
  <% @archives.each do |page| %>
  <h3><%= link_to page.title, page.link %> (<%= page.date %>)</h3>
  <% end %>
</div>
<% end %>

<div class="buttons">
  <%= link_to 'New', url_for_pages_new, :accesskey => 'n' %>
</div>

