<div class="page">
  <h2 class="title"><%= @page.title %></h2>
  
  <small><abbr title="<%= @page.date %>"><%= relatize_date @page.created_at %></abbr>&nbsp;<%= tag_links_for_page @page %></small>
  <div class="body">
    <%= @page.content %>
  </div>
  <%= disqus if Sinatra.options.use_comments %>
</div>

<div><%= @page.attachments.size %> Attachments</div>
<ul>
<% for attachment in @page.attachments %>
    <li><%= link_to attachment.name, attachment.link %></li>
<% end %>
</ul>

<div class="buttons">
  <%= link_to 'All', url_for_pages_index, :accesskey => 'a' %>
  <%= link_to 'Edit', url_for_pages_edit(@page), :accesskey => 'e' %>
  <form action="<%= url_for_pages_destroy(@page) %>" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete" accesskey="d" onclick="return confirm('Are you sure?');" />
  </form>
</div>

